.mat-form-field-wrapper-update{
    width:560px !important;
    padding-top: 8px;
  }

  .logo{
    background-color:black
  }
  .main{
    display:block;
    padding-top: 109px;
  }

  .language{
    margin-bottom:0px;
    color:gray;
    text-align:right;
    padding-top: 8px; 
    padding-left: -20px; 
}
.languageColor{
  color:blue;
  text-decoration: underline;
}